@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
    @Server.GetLastError().Message;
    --------------------------------------------
    @Server.GetLastError().StackTrace;
</h2>
