@{
    ViewBag.Title = "Delete";
}

@model DataClasses.DataModel.Guestbook.GuestMessage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Sei sicuro di voler cancellare questa informazione?</h3>
<fieldset>
    <legend>TestMain</legend>

    <div class="display-label">Code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)        
        @Html.DisplayFor(model => model.Culture)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}